/*Elimina margenes y paddings que agrega el navegador*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/img/fondoTextura.jpg);
    background-size: cover;
    font-family: 'Arimo', sans-serif;
}

/* Menu horizontal de opciones*/

#menu {
    background-color: #333;
    color: white;
    height: 80px;
}

#menu > a {
    color: white;
    text-decoration: none;
}

/*Logo*/

#logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo .sitio {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo .sito-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

.log {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

.sign {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

/*Navegacion*/

nav {
    float: left;
    margin-left: 10%
}

nav ul {
    margin: 0;
    padding: ;
    text-align: center;
    list-style: none;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li ul {
    display: none;
}

nav ul li a:hover + ul, nav ul li ul:hover {
    display: block;
    background-color: #333;
}



nav ul li a {
    display: block;
    padding: 0 5px;
    width: 140px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #68736F;
    color: #D7D9D8;
}

li.menuPadre {
    position:relative
}

.manuHijo {
    position: absolute;
}

/*Slider de imagenes*/

#slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

#slider > ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}

#slider li {
    width: 100%;
    list-style: none;
}

#slider img {
    margin-left: 10%;
    margin-top: 2.5%;
    border-radius: 12px;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}


/*Estilo Tematica*/

div.textoTematica {
    overflow: hidden;
    box-shadow: 4px 3px 61px 26px rgba(0, 0, 0, 0.54);
    width: 100%;
    text-align: center;
    text-indent: 5%;
    margin-top: 5%;
    padding: 50px;
    box-sizing: border-box;
}

p.main {
    color: white;
    opacity: 90%;
}

h1.galTematica {
    font-size: 300%;
    margin-top: 5%;
    text-align: center;
}

img.logoTema {
    margin-top: 5%;
    float: right;
    margin-right: 5%;
    transition: 2s;
}

img.logoTema:hover {
    width: 45%;
transition: 2s;
}
.logoTema:hover {
    width: 34%;
}


hr.tema {
    border-radius: 25%;
    width: 30%;
    border: solid #333;
    margin-bottom: 5%;
}

hr.temaGaleria {
    border-color: #F9D55C;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

div.fotosTematica {
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding: 10px;
    margin-top: 1%;
    grid-gap: 10px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


div.fotoTema > img {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    transition: 0.2s;
}

div.fotosTematica > div > img:hover {
    opacity: 0.6;
}


p.main {
    margin-right: 50%;
}


div.marcoCentral {
    background-image: url(/img/Banner_OW2.png);
    background-size: cover;
}

div.marcoCentralLol {
    background-image: url(/img/Banner_lol.jpg);
    background-size: cover;
}

div.marcoCentralWow {
    background-image: url(/img/Banner_wow.jpg);
    background-size: cover;
}

/*Fin Estilo Tematica*/

/*Estilo Galeria*/

div.Galeria {
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding: 10px;
    margin-top: 1%;
    grid-gap: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

div.Galeria > div > img:hover {
    opacity: 0.6;
}

div.imagenGaleria > img {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    transition: 0.2s;
    max-height: 250px;
}

/*Fin estilo Galeria*/

/*Estilo Reserva*/

h1.reserva{
    text-align: center;
    margin-top: 5%;
    font-size: 250%;
}

section.reserva{
    margin-left: auto;
    margin-right: auto;
}

img.imagenReserva:hover {
    opacity: 0.6;
}

img.imagenReserva {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    transition: 0.2s;
    max-height: 250px;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
    text-align: center;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

/*Fin estilo reserva*/



