/*Cabecera de la pagina*/

h1 {
    position: static;
    text-align: center;
    padding: 1%;
    right: 80%;
    background-color: darkgoldenrod
}

/* Menu horizontal de opciones*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


