/*Elimina margenes y paddings que agrega el navegador*/

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #7B0000;
}

/* Menu horizontal de opciones*/

#menu {
    background-color: #333;
    color: white;
    height: 80px;
}

#menu > a {
    color: white;
    text-decoration: none;
}

/*Logo*/

#logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo .sitio {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo .sito-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

/*Navegacion*/
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 80px;
    text-align: center;
    list-style: none;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    width: 140px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #68736F;
    color: #D7D9D8;
}

nav > ul > li.selected a {
    color: crimson;
}

/*Fin del estilo para el menu*/
