/*Elimina margenes y paddings que agrega el navegador*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/img/fondoTextura.jpg);
    background-size: cover;
    font-family: 'Arimo', sans-serif;
}

/*Slider de imagenes*/

#slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

#slider > ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}

#slider li {
    width: 100%;
    list-style: none;
}

#slider img {
    margin-left: 10%;
    margin-top: 2.5%;
    border-radius: 12px;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}


/*Estilo Tematica*/

div.textoTematica {
    overflow: hidden;
    box-shadow: 4px 3px 61px 26px rgba(0, 0, 0, 0.54);
    width: 100%;
    text-align: center;
    text-indent: 5%;
    margin-top: 5%;
    padding: 50px;
    box-sizing: border-box;
}

p.main {
    color: white;
    opacity: 90%;
}

h1.galTematica {
    font-size: 300%;
    margin-top: 5%;
    text-align: center;
}

img.logoTema {
    margin-top: 5%;
    float: right;
    margin-right: 5%;
    transition: 2s;
}

img.logoTema:hover {
    width: 45%;
    transition: 2s;
}

.logoTema:hover {
    width: 34%;
}


hr.tema {
    border-radius: 25%;
    width: 30%;
    border: solid #333;
    margin-bottom: 5%;
}

hr.temaGaleria {
    border-color: #F9D55C;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

div.fotosTematica {
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding: 10px;
    margin-top: 1%;
    grid-gap: 10px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


div.fotoTema > img {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    transition: 0.2s;
}

div.fotosTematica > div > img:hover {
    opacity: 0.6;
}

p.main {
    margin-right: 50%;
}


div.marcoCentral {
    background-image: url(/img/Banner_OW2.png);
    background-size: cover;
}

/*Fin Estilo Tematica*/

/*Estilo Menu y Modal*/

h3.nombreComida {
    text-align: center;

}

div.fotosTematica > div > a:hover {
    opacity: 0.6;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}


.menu-section {
    margin-bottom: 80px;
}

.menu-section-title {
    font-family: georgia;
    font-size: 50px;
    display: block;
    font-weight: normal;
    margin: 20px 0;
    text-align: Center;
}

.menu-item {
    margin: 35px 0;
    font-size: 18px;
}

.menu-item-name {
    font-family: helvetica;
    font-weight: bold;
    border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;
}

.menu-item-price {
    float: right;
    font-weight: bold;
    font-family: arial;
    margin-top: -22px;
}

/*Fin Estilo Menu*/
