/*Elimina margenes y paddings que agrega el navegador*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/img/fondoTextura.jpg);
    background-size: cover;
    font-family: 'Arimo', sans-serif;
}

/* Menu horizontal de opciones*/

#menu {
    background-color: #333;
    color: white;
    height: 80px;
}

#menu > a {
    color: white;
    text-decoration: none;
}

/*Logo*/

#logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo .sitio {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo .sito-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

.log {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

.sign {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

/*Navegacion*/

nav {
    float: left;
    margin-left: 10%
}

nav ul {
    margin: 0;
    padding: ;
    text-align: center;
    list-style: none;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li ul {
    display: none;
}

nav ul li a:hover + ul,
nav ul li ul:hover {
    display: block;
    background-color: #333;
}



nav ul li a {
    display: block;
    padding: 0 5px;
    width: 140px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #68736F;
    color: #D7D9D8;
}

li.menuPadre {
    position: relative
}

.manuHijo {
    position: absolute;
}

/*Estilo para pagina 1*/

.container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

#prin {
    float: left;
    width: 70%;
    margin-left: 2.5%;

    padding: 5px;
    margin-top: 10px;
}

h1.who {
    font-size: 300%;
    margin-top: 2.5%;
    text-align: center;
}

hr.theme {
    border-color: #F9D55C;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#txt {
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    background: grey;
    margin: 25px 0 25px;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #333;
}

#twitter {
    padding: 5px;
    margin-top: 2.5%;
}

#mapa {
    margin-left: 78%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
