/*Elimina margenes y paddings que agrega el navegador*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/img/fondoTextura.jpg);
    background-size: cover;
    font-family: 'Arimo', sans-serif;
}

/*Estilo para pagina 1*/

.container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

#prin {
    float: left;
    width: 70%;
    margin-left: 2.5%;

    padding: 5px;
    margin-top: 10px;
}

h1.who {
    font-size: 300%;
    margin-top: 2.5%;
    text-align: center;
}

hr.theme {
    border-color: #F9D55C;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#txt {
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    background-image: url(/img/fondoNav.jpg);    margin: 25px 0 25px;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #333;
}

#twitter {
    padding: 5px;
    margin-top: 2.5%;
}

#mapa {
    margin-left: 78%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
