.formulario{
    width: 370px;
    
}
#registro {
    font: 14px arial, sans-serif;
    background-color: #333;
}

.inputClass {
    background-repeat: no-repeat;
    padding: 5px 5px 5px 25px;
    width: 200px;
    border-radius: 10px;
    
}

input:focus {
    background-color: lightgray;
    outline: none;
    border-color: #68736f;
    box-shadow: 0 0 10px #68736f;
}

#registro{
    border-radius: 10px;
    
}

#registro div{    
    margin: 10px 0;
    padding-left: 10px;
}

#titulo{
    padding-top: 10px;
    
}

#registro div label{
    display: inline-block;
    font-weight: bold;
    color:white;
    width: 87px;
    text-align: right;
    
}


#registro div h2{
    text-align: center;
    color:white;
    
}

#botones{
    padding-bottom: 10px;
    
}

#aceptar{    
    width: 150px;
    background: #68736f;
    color:white;
    border-radius: 10px;
    
}

#cancelar{
    width: 150px;
    float:right;
    margin-right: 10px;
     background: #68736f;
    color:white;
    border-radius: 10px;
    
    
}
