/* Menu horizontal de opciones*/
#menu {
    font-weight: 300;
    background-image: url(/img/fondoNav.jpg);
    color: white;
    height: 80px;
}

#menu > a {
    color: white;
    text-decoration: none;
}

/*Logo*/

#logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}


#logo .sitio {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo .sito-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

.log {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

.sign {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

/*Navegacion*/

nav {
    float: left;
    margin-left: 10%
}

nav ul {
    margin: 0;
    padding: ;
    text-align: center;
    list-style: none;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li ul {
    display: none;
}

nav ul li a:hover + ul, nav ul li ul:hover {
    display: block;
/*    background-color: #333;*/
    background-image: url(/img/fondoNav.jpg);
    background-position: 500px 0;
    background-attachment: inherit;
}



nav ul li a {
    display: block;
    padding: 0 5px;
    width: 140px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #1abc9c;
}

li.menuPadre {
    position:relative
}

.manuHijo {
    position: absolute;
}

/*Estilos login register*/

.login {
  position: relative;
  width: 350px;
  display: none;
  left: 1183px;
  top: 61px;
}

.register {
  position: relative;
  width: 350px;
  display: none;
  left: 1225px;
  top: 70px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #68736F;
  left: 10%;
  position: absolute;
  top: -10px;

}

.formholder {
    background-image: url(/img/fondoNav.jpg);
    background-position: 700px 0;
    background-attachment: inherit;
    font-weight: bold;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
    color:white;
}
.formholder input[type="email"], .formholder input[type="password"], .formholder input[type="text"],.formholder input[type="tel"]  {

  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #333;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

h4>a {
  color: #ecf0f1;
  text-decoration: none;
}
h4>a:hover {
  color: #1abc9c;
}

#menu h4{
        float: left;
    padding-top: 33px;
    margin-left: 50px;


}
#loguear{
    color:black;

}
fieldset {
  border: none;
}

/*-----------------------------------*/
